/* F O N T S */

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
/* font-family: 'Reenie Beanie', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
/* font-family: 'Nanum Myeongjo', serif; */

:root {
    --font01: 'Reenie Beanie', cursive;
    --font02: 'Nanum Myeongjo', serif;
}

* {
    font-family: var(--font02);
    margin: 0;
}

#header-logo {
    text-align: center;
    color: #fff;
    background: #000;
    padding: 20px 0 20px 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.250);
}

h1 {
    font-family: var(--font01);
    font-weight: 100;
    font-size: 72px;
    letter-spacing: -3.5px;
}

h2 {
    padding: 15px 0 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    font-family: var(--font01);
    font-size: 42px;
    font-weight: 100;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

li, p {
    margin: 5px 0px 5px 0px;
}

ul ul, ol li, h3 {
    margin-bottom: 20px;
}


main {
    padding: 0px 30px 0 30px;
    margin: auto;
    width: 80vh;
    height: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

main p {
    text-align: justify;
}

main ol {
    text-align: start;
}

body {
    min-width: 760px;
}

.recipe-image {
    width: 669px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#recipes {
    text-align: center;
    padding: 20px 0 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.return {
    margin: 10px 0 20px 0;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-family: var(--font01);
    font-size: 32px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    color: #fff;
    background: #000;
    padding: 20px 0 20px 0;
}

#vitor {
    font-size: 30px;
    font-family: var(--font01);
    text-decoration: none;
}

#green {
    color: rgb(34, 170, 34);
    font-family: var(--font01);
    font-weight: normal;
}

#white {
    color: white;
    font-family: var(--font01);
    font-weight: normal;
}

#red {
    color: rgb(255, 39, 39);
    font-family: var(--font01);
    font-weight: normal;
}